
.gpt3__brand {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 46.48px;
    flex-wrap: wrap;
    margin: 2rem;
    padding: 20px;
}

.gpt3__brand img {
  width: 95.83447265625;
  height: 24.147266387939453;
}


@media screen and (max-width: 650px) {
    .gpt3__brand {
        gap: 20px;
    }
    .gpt3__brand img {
        width: 70px;
        height: auto;
    }
}
@media screen and (max-width : 490px) {
    .gpt3__brand img {
        width: 50px;
        height: auto;
    }
}